@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using System.Diagnostics

@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView>
    <Authorized>
        <h2>Hello, @context.User.Identity.Name!</h2>
        <p>You can only see this content if you're authorized.</p>
        <button class="btn btn-primary" @onclick="SecureMethod">Authorized Only Button</button>
    </Authorized>
    <NotAuthorized>
        <div class="jumbotron mt-3">
            <h1>Projects</h1>
            <ul>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="printing" Match="NavLinkMatch.All">
                        <span class="oi oi-laptop" aria-hidden="true"></span> &#160;&#160;<span>3d Printing</span>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="school" Match="NavLinkMatch.All">
                        <span class="oi oi-beaker" aria-hidden="true"></span> &#160;&#160;<span>School</span>
                    </NavLink>
                </li>
            </ul>
        </div>
        <div class="jumbotron mt-3">
            <h1>Contact Info</h1>
            <ul>
                <li>Twitch: <a target="_blank" href="https://twitch.tv/zambonigirl">twitch.tv/zambonigirl</a></li>
                <li>Twitter: <a target="_blank" href="https://twitter.com/kareese">@@kareese</a></li>
                <li>Linkedin: <a target="_blank" href="https://www.linkedin.com/in/kareese-arneson-b3b43b35">https://www.linkedin.com/in/kareese-arneson-b3b43b35</a></li>
            </ul>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    
    
    private void SecureMethod()
    {

    }
}

@code {

    protected override async Task OnInitializedAsync() {

    }
}