@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView>
    <Authorized>
        <h2>Hello, @context.User.Identity.Name!</h2>
        <p>You can only see this content if you're authorized.</p>
        <button class="btn btn-primary" @onclick="SecureMethod">Authorized Only Button</button>
    </Authorized>
    <NotAuthorized>
        <h2>Authentication Failure!</h2>
        <p>You're not signed in.</p>
        <div class="jumbotron mt-3">
            <h1>Connect on discord</h1>
            <ul>
                <li>We propose using discord for announcements / message board</li>
                <li>Click <a href="https://discord.gg/4yzD6rSM" target="_blank">here</a> to join our channel on discord</li>
                <li>If you already joined our discord channel, click <a href="https://discord.com/channels/913518650466635777/" target="_blank">here</a> to access</li>
            </ul>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void SecureMethod() 
    {


    }
}

@code {

    protected override async Task OnInitializedAsync() {
       
    }
}