@page "/"
@using System.Security.Claims
@using Lib
@using XuMath
@using Microsoft.AspNetCore.Components.Authorization
@using System.Diagnostics

@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView>
    <Authorized>
        <h2>Hello, @context.User.Identity.Name!</h2>
        <p>You can only see this content if you're authorized.</p>
        <button class="btn btn-primary" @onclick="SecureMethod">Authorized Only Button</button>
    </Authorized>
    <NotAuthorized>
        <h2>Authentication Failure!</h2>
        <p>You're not signed in.</p>
        <div class="jumbotron mt-3">
            <h1>Links</h1>
            <ul>
                <li>Summarize content with this app: <a target="_blank" href="https://summary.leenet.link">summary</a></li>
                <li>Generate content with this app: <a target="_blank" href="https://generate.leenet.link">generate</a></li>
                <li>Blazer Boilerplate website: <a target="_blank" href="https://blazorboilerplate.leenet.link">blazorboilerplate</a></li>
            </ul>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    
    
    private void SecureMethod()
    {

    }
}

@code {

    protected override async Task OnInitializedAsync() {

    }
}